/*
!/.zshrc
!/.zprofile
!/.gitignore
!/README.md

!/.config/
/.config/*
!/.config/btop/
!/.config/easyeffects/
!/.config/fastfetch/
!/.config/fcitx5/
!/.config/git/
!/.config/gpu-screen-recorder/
!/.config/kitty/
!/.config/mpv/
!/.config/niri/
!/.config/noctalia/
!/.config/nvim/
!/.config/starship.toml
!/.config/yazi/

!/System-Configs/

**/.DS_Store
**/node_modules/
**/*.tmp
